/* Custom CSS styling */

nav .badge {
    position: relative;
    top: 20px;
    right: 20px;
}

.credits {
    font-size: xx-small;
}

a {
    color: black;
    font-style: italic;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #3f102c;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #aa6f94;
  }